.list-box {
  width: 100%;
  padding: 2% 7%;
  margin-top: 20px;
  border: 1px solid black;
  background: skyblue;
  display: flex;
}

.car-box {
  width: 50%;
  box-sizing: content-box;
}

.btn-box {
  width: 50%;
  position: relative;
  box-sizing: content-box;
}


.btn {
  width: 40%;
  height: 20%;
  margin-left: 5px;
  border: 1px solid black;
  background: skyblue;
  box-sizing: content-box;
}

.btn-del {
  width: 40%;
  height: 20%;
  margin-left: 5px;
  margin-top: 20px;
  border: 1px solid black;
  background: skyblue;
  display: block;
  box-sizing: content-box;

}

